.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 60px;
  z-index: 1000;
  box-sizing: border-box;
}

/* Navbar para pantallas 1920px */
@media (min-width: 1920px) {
  .navbar {
    height: 80px;
    padding: 0 30px;
  }

  .navbar-left {
    gap: 50px;
  }

  .navbar-left a {
    font-size: 18px;
  }

  .navbar-center .logo {
    font-size: 38px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right .icon-link svg {
    width: 28px;
    height: 28px;
  }
}

/* Escala proporcional para pantallas 1280px-1919px */
@media (min-width: 1280px) and (max-width: 1919px) {
  .navbar {
    height: calc(76px * (100vw / 1280));
    padding: 0 calc(60px * (100vw / 1280));
  }

  .navbar-left {
    gap: calc(40px * (100vw / 1280));
  }

  .navbar-left a {
    font-size: calc(16px * (100vw / 1280));
  }

  .navbar-center .logo {
    font-size: calc(32px * (100vw / 1280));
  }

  .navbar-right {
    gap: calc(24px * (100vw / 1280));
  }

  .navbar-right .icon-link svg {
    width: calc(24px * (100vw / 1280));
    height: calc(24px * (100vw / 1280));
  }
}

.navbar-left {
  display: flex;
  gap: 40px;
  justify-self: start;
}

.navbar-left a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-left a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgb(205, 157, 101);
  transition: width 0.3s ease;
}

.navbar-left a:hover {
  color: rgb(205, 157, 101);
}

.navbar-left a:hover::after {
  width: 100%;
}

.navbar-center {
  justify-self: center;
}

.navbar-center .logo {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Brush Script MT', cursive;
  font-weight: 400;
  font-style: italic;
}

.navbar-right {
  display: flex;
  gap: 24px;
  justify-self: end;
}

.navbar-right .icon-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-right .icon-link:hover {
  color: rgb(205, 157, 101);
  transform: scale(1.1);
}

/* Responsive para pantallas menores a 1280px */
@media (max-width: 1279px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar-left {
    gap: 20px;
  }

  .navbar-left a {
    font-size: 14px;
  }
}
